### Goal
- Predict that patient has cancer or not based on the input data
- Implement Support Vectore Machines(SVM)

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
# Understanding the data
patient_df = pd.read_csv("./datasets/cell_samples.csv")
patient_df.head()

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [7]:
print(patient_df.columns)
print(patient_df["Clump"].unique())
print(patient_df.info())
print(patient_df.describe())

Index(['ID', 'Clump', 'UnifSize', 'UnifShape', 'MargAdh', 'SingEpiSize',
       'BareNuc', 'BlandChrom', 'NormNucl', 'Mit', 'Class'],
      dtype='object')
[ 5  3  6  4  8  1  2  7 10  9]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           699 non-null    int64
 1   Clump        699 non-null    int64
 2   UnifSize     699 non-null    int64
 3   UnifShape    699 non-null    int64
 4   MargAdh      699 non-null    int64
 5   SingEpiSize  699 non-null    int64
 6   BareNuc      699 non-null    object
 7   BlandChrom   699 non-null    int64
 8   NormNucl     699 non-null    int64
 9   Mit          699 non-null    int64
 10  Class        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB
None
                 ID       Clump    UnifSize   UnifShape     MargAdh  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

       SingEpiSize  BlandChrom    NormNucl         Mit       Class
count   699.000000  699.000000  699.000000  699.000000  699.000000
mean      3.216023    3.437768    2.866953    1.589413    2.689557
std       2.214300    2.438364    3.053634    1.715078    0.951273
min       1.000000    1.000000    1.000000    1.000000    2.000000
25%       2.000000    2.000000    1.000000    1.000000    2.000000
50%       2.000000    3.000000    1.000000    1.000000    2.000000
75%       4.000000    5.000000    4.000000    1.000000    4.000000
max      10.000000   10.000000   10.000000   10.000000    4.000000