### Goals
- Build a movie recommender system

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
# Loading dataset
movies_df = pd.read_csv("./ml-latest/movies.csv")
# links_df = pd.read_csv("./ml-latest/links.csv")
ratings_df = pd.read_csv("./ml-latest/ratings.csv")
# tags_df= pd.read_csv("./ml-latest/tags.csv")
movies_df.head()
print(ratings_df.head())

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [9]:
movies_df[movies_df["title"] == "Gladiator (2000)"]

      movieId             title                  genres
3488     3578  Gladiator (2000)  Action|Adventure|Drama

In [22]:
print(movies_df.shape)
print(movies_df.size)
# print(movies_df.dtypes)
# print(movies_df.info())
# print(movies_df.describe())
print(ratings_df.shape)
print(ratings_df.size)
# print(ratings_df.dtypes)

(34208, 3)
102624
(22884377, 4)
91537508

In [50]:
temp_df = movies_df.head().copy()
temp_df["title"]

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: title, dtype: object

In [61]:
# Preprocessing
# Collaborative filtering
# Constest based filtering
# Movie dataset from Kaggle
# Preprocessing
# cleaning the data
# Understand how to do collaborative filtering
# By using similarity score 
print(temp_df["title"])
temp_df["year"] = temp_df.title.str.extract("(\(\d{4}\))", expand=False)
temp_df["year"] = temp_df.year.str.extract("(\d{4})", expand=False)
temp_df["title"] = temp_df.title.str.replace(r"(\(\d{4}\))", "", regex=True)
temp_df["title"] = temp_df["title"].apply(lambda x: x.strip())
temp_df

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
Name: title, dtype: object

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995